footer{
  font-family: $font;
  width: 100%;
  border-top: 5px solid #444;
  position: fixed;
  bottom: 0;
  background: white;
  p{
    display: inline-block;
    float: left;
    font-size: 2.5vw;
    margin: 2%;
    margin-top: 4%;
  }
  div{
    float: right;
    width: 50%;
    margin: 2%;
    a{
      float: right;
      margin-left: 2%;
      font-size: 5vw;
    }
  }
}
